<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Medicine Details</title>
</head>
<body>
  <h1>Medicine Details</h1>
  <h2>Name: <%= medicine.name %></h2>
  <p>Generic Name: <%= medicine.genericName %></p>
  <p>Distributors: <%= medicine.distributors.join(', ') %></p>
  <p>Price Difference: <%= medicine.priceDifference %></p>
</body>
</html>
